In [54]:
#Importing libraries

import pandas as pd
import math
import glob

#retrieving all data files from folder
files = glob.glob(r"C:\Users\allan\OneDrive\Desktop\Documentos\Mis Análsis\Mercamadrid\data\volpre*.csv")


dfs = [pd.read_csv(f, encoding="ISO-8859-1", sep=';', decimal=',') for f in files]
df=pd.concat(dfs, ignore_index=True)

#Checking initial structure
print (df.head())
print (df.info())

  Fecha Desde  Fecha Hasta  Código Variedad             Descripción Variedad  \
0    20210101     20210131          CA 0101   VACUNO CANAL
1    20210101     20210131          CA 0101   VACUNO CANAL
2    20210101     20210131          CA 0101   VACUNO CANAL
3    20210101     20210131          CA 0101   VACUNO CANAL
4    20210101     20210131          CA 0101   VACUNO CANAL

   Origen     Descripción Origen       Kilos  Precio Más Frecuente  \
0     005   AVILA                  000002220                  4,27
1     008   BARCELONA              000066910                  4,29
2     010   CACERES                001327305                  4,29
3     015   LA CORUÑA              000052640                   4,3
4     017   GERONA                 000010440                  4,28

   Precio Máximo  Precio Mínimo
0           4,27           4,27
1           4,31           4,27
2           4,31           4,27
3           4,31           4,27
4           4,28           4,28
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187011 entries, 0 to 187010
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Fecha Desde            187011 non-null  object
 1    Fecha Hasta           187011 non-null  object
 2    Código Variedad       187011 non-null  object
 3    Descripción Variedad  187011 non-null  object
 4    Origen                187011 non-null  object
 5    Descripción Origen    187011 non-null  object
 6    Kilos                 187011 non-null  object
 7    Precio Más Frecuente  187011 non-null  object
 8    Precio Máximo         187011 non-null  object
 9    Precio Mínimo         187011 non-null  object
dtypes: object(10)
memory usage: 14.3+ MB
None

In [56]:
#Verifying how columns are named to avoid Key errors
df.columns = df.columns.str.replace(' ','')
df.columns

Index(['FechaDesde', 'FechaHasta', 'CódigoVariedad', 'DescripciónVariedad',
       'Origen', 'DescripciónOrigen', 'Kilos', 'PrecioMásFrecuente',
       'PrecioMáximo', 'PrecioMínimo'],
      dtype='object')

In [57]:
#Dates cleaning

df["FechaHasta"] = df["FechaHasta"].astype('str').str.strip();

#Converting dates to datetime format
df["FechaDesde"]=pd.to_datetime(df["FechaDesde"],format="%Y%m%d", errors="coerce");
df["FechaHasta"]=pd.to_datetime(df["FechaHasta"],format="%Y%m%d", errors="coerce");

In [58]:
#Searching for nulls

null_vars = df.isna().sum().sort_values(ascending=False)
null_vars

FechaDesde             52
FechaHasta             52
CódigoVariedad          0
DescripciónVariedad     0
Origen                  0
DescripciónOrigen       0
Kilos                   0
PrecioMásFrecuente      0
PrecioMáximo            0
PrecioMínimo            0
dtype: int64

In [59]:
#Counting missing dates

total_rows = df.shape[0]
missing_dates = df[df["FechaDesde"].isna() | df["FechaHasta"].isna()].shape[0];

md_percentage = (missing_dates / total_rows)*100
print(f"Mssing Percentage: {(md_percentage):.2f}%, Total Missing: {missing_dates}, Total Rows: {total_rows}")

Mssing Percentage: 0.03%, Total Missing: 52, Total Rows: 187011

In [60]:
#Removing nulls
df = df.dropna()

#Checking new number of nulls
df.isna().sum().sort_values(ascending=False)

FechaDesde             0
FechaHasta             0
CódigoVariedad         0
DescripciónVariedad    0
Origen                 0
DescripciónOrigen      0
Kilos                  0
PrecioMásFrecuente     0
PrecioMáximo           0
PrecioMínimo           0
dtype: int64

In [61]:
#Converting prices from string to float
cols=["PrecioMáximo","PrecioMínimo","PrecioMásFrecuente"]

df[cols]=(
    df[cols].apply(
        lambda col:col
        .str.strip()
        .str.replace(',','.',regex=False)
        .astype(float)
    )
)

#Verifying conversion
df.head()

,FechaDesde,FechaHasta,CódigoVariedad,DescripciónVariedad,Origen,DescripciónOrigen,Kilos,PrecioMásFrecuente,PrecioMáximo,PrecioMínimo
0,2021-01-01,2021-01-31,CA 0101,VACUNO CANAL,005,AVILA,000002220,4.27,4.27,4.27
1,2021-01-01,2021-01-31,CA 0101,VACUNO CANAL,008,BARCELONA,000066910,4.29,4.31,4.27
2,2021-01-01,2021-01-31,CA 0101,VACUNO CANAL,010,CACERES,001327305,4.29,4.31,4.27
3,2021-01-01,2021-01-31,CA 0101,VACUNO CANAL,015,LA CORUÑA,000052640,4.30,4.31,4.27
4,2021-01-01,2021-01-31,CA 0101,VACUNO CANAL,017,GERONA,000010440,4.28,4.28,4.28

In [ ]:
Productos = df["DescripciónVariedad"].sum().order_values(ascending=False)

Productos